GasUp_Website/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GasUp_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GasUp_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Product_Availability" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product_Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product_Size" type="xs:decimal" />
      <xs:element minOccurs="0" name="Product_image" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfInstallation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Installation" nillable="true" type="tns:Installation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstallation" nillable="true" type="tns:ArrayOfInstallation" />
  <xs:complexType name="Installation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Install_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Install_Duration" type="xs:decimal" />
      <xs:element minOccurs="0" name="Install_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Install_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Install_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Install_Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Installation" nillable="true" type="tns:Installation" />
  <xs:complexType name="ArrayOfApplyCOC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplyCOC" nillable="true" type="tns:ApplyCOC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplyCOC" nillable="true" type="tns:ArrayOfApplyCOC" />
  <xs:complexType name="ApplyCOC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apply_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apply_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Apply_Install" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Apply_PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplyCOC" nillable="true" type="tns:ApplyCOC" />
  <xs:complexType name="ArrayOfQuery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Query" nillable="true" type="tns:Query" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuery" nillable="true" type="tns:ArrayOfQuery" />
  <xs:complexType name="Query">
    <xs:sequence>
      <xs:element minOccurs="0" name="Query_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Query_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Query_Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Query_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Query_PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Query_Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Query" nillable="true" type="tns:Query" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfTestimonial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Testimonial" nillable="true" type="tns:Testimonial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTestimonial" nillable="true" type="tns:ArrayOfTestimonial" />
  <xs:complexType name="Testimonial">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Testimonial_description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Testimonial" nillable="true" type="tns:Testimonial" />
  <xs:complexType name="Purchase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authorized" type="xs:boolean" />
      <xs:element minOccurs="0" name="Customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="Discount_percentage" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Product_id" type="xs:int" />
      <xs:element minOccurs="0" name="delivery_Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="delivery_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="loyalty_points" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="shipping" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Purchase" nillable="true" type="tns:Purchase" />
  <xs:complexType name="ArrayOfPurchase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Purchase" nillable="true" type="tns:Purchase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchase" nillable="true" type="tns:ArrayOfPurchase" />
  <xs:complexType name="ArrayOfEmployee_Task">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee_Task" nillable="true" type="tns:Employee_Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee_Task" nillable="true" type="tns:ArrayOfEmployee_Task" />
  <xs:complexType name="Employee_Task">
    <xs:sequence>
      <xs:element minOccurs="0" name="Task_ID" type="xs:int" />
      <xs:element minOccurs="0" name="emp_id" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="num_tasks" type="xs:int" />
      <xs:element minOccurs="0" name="task_done" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee_Task" nillable="true" type="tns:Employee_Task" />
</xs:schema>